---
layout: default
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      p,a, ol li, ul li, h1,h2,h3,h4,h5,h6{
        font-family: 'Roboto', sans-serif;
      }
      h1,h2,h3{
        color: #2d1f1c;
      }
    </style>
    <link rel="icon" href="assets/title.ico" type="image/ico">
    <title>Official Blog of Dhrubo Kamal </title>
  </head>

  <body>
    <div class="buffer" style="height: 5rem;"></div>
    <div class="container">
        <!-- Jumbotron Startes -->
        <div style="margin-bottom: 2rem;">
            <h1 class="display-4"> Welcome To the Blog Section </h1>
            <p class="lead">I am not a good writer. But I sometimes try to preserve a piece of memory or thoughts through writing. Here is a collection of all of those writings </p>
        </div>
        <!-- Jumbotron ends -->
    </div>

    <div class="container">
        <div class="card">
            {% for post in site.posts %}
            <div class="card-body">
                <!-- Media Object Starts -->
                <div class="media">

                    <a href="{{ post.url | relative_url }}"> <img src={{ "assets/thumbnail.jpg" | relative_url }} class="mr-3 rounded-circle" alt="Sample Image" height="80px" width="80px"> <a>

                    <div class="media-body">
                        <h5 class="mt-0"> <a href="{{ post.url | relative_url}}"> {{ post.title }} </a> <small><i>Posted on {{ post.date }} </i></small> </h5>
                        {% if post.desc != NIL %}
                        <p> <i> {{ post.desc }} </i></p>
                        {% elsif post.dec == NIL %}
                        <p> <i> No description dis provided with the blog </i>  </p>
                        {% endif %}

                        {% if post.time != NIL %}
                        <p style="text-align: left;"><small> {{ post.time }} minute read.  </small></p>
                        {% elsif post.time == NIL %}
                        <p style="text-align: left;"><small> Less than 10 minute read.  </small></p>
                        {% endif %}
                        <!-- hr style="width=10px;border-top: 1px solid black;" -->
                    </div>

                </div>
                <!-- Media Object Finished -->
            </div>
            {% endfor %}
        </div>

    </div>
    <!-- Blog ends -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
