---
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body,
        html{
            background: url(assets/header.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .container{
            margin-top: 20px;
            background-color: rgba(233, 236, 239, 0.0);
        }
        .card-deck, .card-body{
            background-color: rgba(233, 236, 239, 0.0);
        }
        .jumbotron, .card {
            background-color: rgba(233, 236, 239, 0.95);
            text-color: black;
        }
        .cus-nav{
            position: fixed;
            top: 0;
            left: 0;
            width: 120%;
            z-index: 100000;

        }
        .buffer{
            height: 10rem;
        }
        .media-body{
            border-color: red;
            border-top:10px;
        }
        a:link {
            text-decoration: none;
        }
    </style>
    <link rel="icon" href="assets/title.ico" type="image/ico">
    <title>Official Blog of Dhrubo Kamal </title>
  </head>

  <body>
    <!-- New Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{"/index.html" | relative_url}}"> Site of Dhrubo Kamal </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href= {{ "/aboutme" | relative_url }} > Personal Info  <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href= {{ "/achievements" | relative_url }}> Achievements </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href= {{ "/blog.html" | relative_url }}> Blogs </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href= {{ "/projects.html" | relative_url }}> Projects </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href= {{ "/gallery" | relative_url }}> Gallary </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Nav -->
    <div class="Buffer"></div>

    <div class="container">
        <!-- Jumbotron Startes -->
        <div class="jumbotron">
            <h1 class="display-4"> Welcome To the Blog Section </h1>
            <p class="lead">I am not a good writer. But I sometimes try to preserve a piece of memory or thoughts through writing. Here is a collection of all of those writings </p>
        </div>
        <!-- Jumbotron ends -->
    </div>

    <div class="container">
        <div class="card">
            {% for post in site.posts %}
            <div class="card-body">
                <!-- Media Object Starts -->
                <div class="media">
                    {% if post.thumbnail-url != NIL %}
                        <a href="{{ post.url | relative_url }}"> <img src="{{ post.thumbnail-url }}" class="mr-3" alt="Sample Image" height="80px" width="80px"> <a>
                    {% elsif post.thumbnail-url == NIL %}
                        <a href="{{ post.url | relative_url }}"> <img src="assets/thumbnail.jpg" class="mr-3" alt="Sample Image" height="80px" width="80px"> <a>
                    {% endif %}

                    <div class="media-body">
                        <h5 class="mt-0"> <a href="{{ post.url | relative_url}}"> {{ post.title }} </a> <small><i>Posted on {{ post.date }} </i></small> </h5>
                        {% if post.desc != NIL %}
                        <p> <i> {{ post.desc }} </i></p>
                        {% elsif post.dec == NIL %}
                        <p> <i> No description dis provided with the blog </i>  </p>
                        {% endif %}

                        {% if post.time != NIL %}
                        <p style="text-align: right;"><small> {{ post.time }} minute read.  </small></p>
                        {% elsif post.time == NIL %}
                        <p style="text-align: right;"><small> Less than 10 minute read.  </small></p>
                        {% endif %}
                        <hr style="width=10px;border-top: 1px solid black;">
                    </div>

                </div>
                <!-- Media Object Finished -->
            </div>
            {% endfor %}
        </div>

    </div>
    <!-- Blog ends -->

    <!-- Footer starts -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3> Follow me on Social Media </h3>
                <a href="https://www.facebook.com/mmk.dhrubo" target="_blank"> <button type="button" class="btn btn-secondary" style="background-color: #3b5998 ;"> <img src= "{{ "/assets/fb.png" | relative_url}}"  alt="" width="25px" height="25px"> Facebook </button></a>
                <a href="https://www.linkedin.com/in/mmkdhrubo/" target="_blank"> <button type="button" class="btn btn-secondary" style="background-color: #0e76a8 ;"> <img src="{{ "/assets/li.png" | relative_url}}" alt="" width="25px" height="25px"> Linked-in </button></a>
                <a href="https://www.youtube.com/channel/UCendCII-donK3yVKNIy3LFg" target="_blank"> <button type="button" class="btn btn-secondary" style="background-color: #FF0000;"> <img src="{{ "/assets/yt.png" | relative_url}}" alt="" width="25px" height="25px"> YouTube </button></a>
                <a href="https://github.com/DhruboKamal" target="_blank"> <button type="button" class="btn btn-secondary" style="background-color: white;color:black;"> <img src="{{ "/assets/gh.png" | relative_url}}" alt="" width="25px" height="25px"> Github </button></a>
                <a href="https://twitter.com/dhrubokamal07" target="_blank"> <button type="button" class="btn btn-secondary" style="background-color: #00acee;color:black;"> <img src="{{ "/assets/tw.png" | relative_url}}" alt="" width="25px" height="25px"> Twitter </button></a>
            </div>
        </div>
    </div>

    <!-- Footed ends -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
