---
layout: default
---
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        a:link {
            text-decoration: none;
        }
        .page img{
          width: 100%;
          height: auto;
        }
    </style>
    <link rel="icon" href=" {{"assets/title.ico" | relative_url}}" type="image/ico">
  </head>
  <body>
    <div class="buffer" style="height: 5rem;"></div>
    <div class="container page">
      {{content}}
    </div>
  </body>
